<main>
  <h1>MyApp - Recuperación de contraseña</h1>
  <p>
    Has solicitado la recuperación de tu contraseña.
    Si crees que esto es un error, por favor, ignora este mensaje. <br>
    De no ser así, por favor, da click en el siguiente enlace para poder restablecer tu contraseña. <br>
    Si no puedes hacer click en el enlace, te pedimos de favor copiarlo y pegarlo en el navegador
  </p>
  <p>
    <strong>
      <a href="<%= @url %>">Recuperar contraseña</a>
    </strong>
  </p>
  <p>
    <strong>
      <%= @url %>
    </strong>
  </p><br>
  <p>
    Que tengas un excelete día! <br>
    Hasta Luego <br>
    <strong>Equipo de soporte - MyApp</strong>
  </p>
</main>
