<div data-controller="flash" id="alert" class="flex items-center justify-between bg-red-200 px-4 py-3 font-bold text-sm text-red-700">
  <div class="flex items-center">
    <%= alert %>
  </div>
  <div data-action="click->flash#removeAlert" class="flex cursor-pointer items-center">
    <i class="fa-regular fa-circle-xmark text-xl"></i>
  </div>
</div>
