<div data-controller="flash" id="notice" class="flex items-center justify-between bg-green-200 px-4 py-3 font-bold text-sm text-green-700">
  <div class="flex items-center">
    <%= notice %>
  </div>
  <div data-action="click->flash#removeNotice" class="flex cursor-pointer items-center">
    <i class="fa-regular fa-circle-xmark text-xl"></i>
  </div>
</div>
